body {
    font-family: "Lato", sans-serif;
}

h1, h2, h3 {
    font-family: "Lato", sans-serif;
}

h2 {
    color: #3046C5;
}

header h1 {
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 100px;
}



.site-footer {
    background-color:#f7ffc8;
    padding: 20px 0;
}

.jumbotron {
    margin:0;
        padding: 30px;
        background-image: linear-gradient(to right, red, #bec530, #1537de);
        color: white;
}

.row-content{
    padding: 50px 0;
    border-bottom:1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #f7ffc8;
    padding: 20px 0;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}
.carousel {
    border: solid #5637DD;
}



  .menu-section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom:20px
  }

  .menu-header {
    font-family: ;
    font-weight:bold;
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

 .menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

#parrotpic {
    border-radius:50%;
}

.inquiries{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom:20px
  }